* {
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ol {
  /* list-style: linear-gradient(45deg, red, yellow); */
  list-style-type: none;
  display: flex;
  gap: 10px;
}

ol li {
  width: 200px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  counter-increment: index 1;
  position: relative;
}

ol li::after {
  content: counter(index);
  position: absolute;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.356);
  right: 5px;
  top: -5px;
}
.square {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, yellow, red);
  border: 2px solid black;
}
